$var1: #2d9cdb;
$var2: #1c74a7;
$var3: #e0e0e0;

.returnToProfileButton {
  position: absolute;
  top: 4%;
  left: 3%;
  font-weight: bold;
  width: 52px;
  height: 28px;
  color: white;
  text-decoration: none;
  background: $var1;
  transition: 0.2s;
  border: none;
  border-radius: 40px;

  &:hover {
    background: $var2;
  }
}

.profileEdit,
.passwordVisibleButton,
.savePassword,
.avatarChange {
  font-weight: bold;
  width: 150px;
  height: 50px;
  height: 30px;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 40px;
  color: white;
  background: $var1;
  border: 2px solid $var1;
  margin-bottom: 20px;

  &:hover {
    background: white;
    color: $var1;
    border-color: $var1;
  }
}

.avatarEditProfile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profileInput {
  text-align: center;
  border: none;
  border-bottom: 1px solid $var3;
}

.profile_edit {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
  }

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
  }
}

.profile__edit_list-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
  list-style-type: none;
}

.profile__error {
  top: 20px;
  position: absolute;
  width: 350px;
  color: red;
  text-align: center;
  margin-bottom: 20px;

  &__display {
    width: 250px;
    color: red;
    text-align: center;
    margin-bottom: 20px;
  }
}
