$var1: #fcfcfc;
$var2: #e0e0e0;
$var3: #2d9cdb;
$var4: #ededed;

body {
  margin: 0;
}

.users {
  font-weight: bold;
}

.chatAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatarImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.text_break-word {
  width: max-content;
  background-color: $var4;
  border-radius: 40px;
  padding: 5px 10px;
}

.userDelete {
  margin-bottom: 20px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 40px;
  color: white;
  background: $var3;
  border: 2px solid $var3;
  margin-bottom: 0px;
}

.userDelete:hover {
  background: white;
  color: $var3;
  border-color: $var3;
}

.addUser,
.deleteChat,
.deleteUser,
.exitChat,
.goToProfile,
.messageChat,
.addSettings {
  margin-bottom: 20px;
  font-weight: bold;
  width: 200px;
  height: 30px;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 40px;
  color: white;
  background: $var3;
  border: 2px solid $var3;
}

.messageChat {
  margin-bottom: 0;
  width: 100px;
  border: none;
  border-radius: 40px;
}

.exitChat,
.goToProfile {
  width: 80px;
}

.addChat {
  font-weight: bold;
  width: 140px;
  height: 28px;
  color: white;
  text-decoration: none;
  background: $var3;
  transition: 0.2s;
  border: none;
  border-radius: 40px;
  border: 2px solid #07527e;
}

.addChat:hover,
.addUser:hover,
.deleteChat:hover,
.deleteUser:hover,
.exitChat:hover,
.goToProfile:hover,
.addSettings:hover {
  background: white;
  color: $var3;
  border-color: $var3;
}

.findInput {
  width: 70%;
  border: none;
  border-bottom: 1px solid $var2;
  border-radius: 40px;
  background-color: $var4;
  margin-left: 10px;
  padding-left: 10px;
}

.chat {
  display: flex;
  height: 100%;

  &__list {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    background-color: $var1;

    &__buttons {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
    }

    &__search {
      width: 100%;
      background-color: transparent;
      display: flex;
    }

    &__users {
      padding-top: 10vh;

      &__unit {
        padding-top: 20px;
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }

  &__messages {
    width: 100%;
    margin: 0 20px;

    &__name {
      text-align: center;
    }
    &__dialog input {
      height: 30px;
      width: 100vh;
      border: none;
      margin-bottom: 10px;
      border-bottom: 1px solid $var2;
      border-radius: 40px;
      background-color: $var4;
    }

    &__menu {
      padding-top: 10px;
      display: flex;
      max-width: 100%;
      justify-content: space-between;
    }

    &__settings {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }

    &__dialog {
      padding: 20px 0;
    }

    &__form {
      display: flex;
      position: absolute;
      bottom: 5vh;
    }

    &__error {
      color: red;
      left: 20px;
      top: 30px;
      position: absolute;
    }
  }
}

.modal {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  z-index: 999;
  top: 0;
  left: 0;
  display: none;
  &__open {
    display: flex;
  }
  &__title {
    margin-bottom: 32px;
  }
  &__form {
    margin-bottom: 32px;
    width: 100%;
  }
  &__content {
    width: 500px;
    border-radius: 30px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
  }
}
