/* .container {
  max-width: 640px;
  margin: auto;
  height: auto;
} */

.returnToChat {
  position: absolute;
  top: 4%;
  left: 3%;
  font-weight: bold;
  width: 52px;
  height: 28px;
  color: white;
  text-decoration: none;
  background: #2d9cdb;
  transition: 0.2s;
  border: none;
  border-radius: 40px;
}

.returnToChat img {
  text-align: center;
}

.returnToChat:hover {
  background: #1c74a7;
}

.profile {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

.profile__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
}

.profile__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
}

.profile__main img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile__main p {
  text-align: center;
}

.profile__main button {
  font-weight: bold;
  width: 120px;
  height: 50px;
  height: 30px;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 40px;
  color: white;
  background: #2d9cdb;
  border: 2px solid #2d9cdb;
}

.profile__main button:hover {
  background: white;
  color: #2d9cdb;
  border-color: #2d9cdb;
}

.profile__information ul {
  padding: 0;
}

.profile__information ul li {
  position: relative;
  margin-bottom: 30px;
  list-style-type: none;
  text-align: center;
}
