<style>
        body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
        p, h3 {
        text-align: center 
    }
</style>
<div>
    <h3>500</h3>
    <p>Ошибка сервера</p>
</div>