.container {
  max-width: 640px;
  margin: auto;
  height: auto;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin__title {
  text-align: center;
  margin: 0 0 60px 0;
}
.signin__group {
  position: relative;
  margin-bottom: 30px;
  padding: 0 0 20 0;
}

.signin__button {
  display: flex;
  justify-content: space-between;
}

.signin__button button {
  font-weight: bold;
  width: 160px;
  height: 50px;
  height: 30px;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 40px;
}

.signin__group__label {
  position: absolute;
  color: #9e9e9e;
  bottom: 45;
}

.signin__button__blue {
  color: white;

  background: #2d9cdb;
  border: 2px solid #2d9cdb;
}

.signin__button__blue:hover {
  background: white;
  color: #2d9cdb;
  border-color: #2d9cdb;
}

.signin__button__white {
  color: #2d9cdb;
  background: white;
  border: 2px solid #2d9cdb;
}

.signin__button__white:hover {
  color: white;
  background: #2d9cdb;
  border: 2px solid #2d9cdb;
}

.signin__group__input {
  width: 350px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
}
