   <div class="container">
       <div class="signin">
        <p class="signin__title">Авторизация</p>
        <form action="/login">
            <div class="signin__group">
                <label class="signin__group__label"> {{loginField}} </label>
                <input class="signin__group__input" type="text" name="login">
            </div> 
             <div class="signin__group">
                <label class="signin__group__label">{{passwordField}}</label>
                <input class="signin__group__input" type="password" name="password">
            </div> 
            <div class="signin__button">
            <button onclick="document.location='./chat'" type="button" class="signin__button__blue">{{butonsigninField}}</button>
            <button onclick="document.location='./signup'"type="button" class="signin__button__white">{{butonsignupField}}</button>
            </div>
            </div>
        </form>
        </div>
    </div>