$var2: #2d9cdb;
$var3: #e0e0e0;

.modal {
  &__form {
    text-align: center;
  }
}

.inputModal {
  width: 350px;
  border: none;
  border-bottom: 1px solid $var3;
  background-color: transparent;
}

.addUserModal,
.addChatModal {
  font-weight: bold;
  width: 200px;
  height: 50px;
  height: 30px;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 40px;
  color: white;
  background: $var2;
  border: 2px solid $var2;
}

.addUserModal:hover,
.addChatModal:hover {
  background: white;
  color: $var2;
  border-color: $var2;
}

.closeModule {
  font-weight: bold;
  width: 160px;
  height: 50px;
  height: 30px;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 40px;
  color: $var2;
  background: white;
  border: 2px solid $var2;
}

.closeModule:hover {
  color: white;
  background: $var2;
  border: 2px solid $var2;
}
