<div class="container">
    <p>Регистрация</p>
    <form action="/register">
        <div>
            <label>mail</label>
            <input type="email" name="mail">
        </div>
        <div>
            <label>login</label>
            <input type="text" name="login">
        </div>
        <div>
            <label>name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>surname</label>
            <input type="text" name="surname">
        </div>
        <div>
            <label>number</label>
            <input type="number" name="number">
        </div>
        <div>
            <label>password</label>
            <input type="password" name="password">
        </div>
        <div>
            <label>repeat password</label>
            <input type="password" name="repeat_password">
        </div>
        <div class="container">
            <button type="button" class="signin">Sign in</button>
            <button type="button" class="signup">Sign up</button>
        </div>
    </form>
</div>